h3
  :margin 10px 0

.helpText
  :font-size small
  :color gray
  :margin 10px 0

#column1
  :float left
  :padding-right 80px

#column2
  :float left
  :width 400px
  :padding-left 90px
  :border-left dotted 1px #aaa


form#thanks
  ol
    :list-style none
  li
    :margin 15px 0
  label
    :display block
