@font-face
  :font-family 'Leckerli One';
  :font-style normal
  :font-weight normal
  :src url(../fonts/LeckerliOne.ttf)

*
  :margin 0
  :padding 0
  :list-style none

body
  :font normal 10pt sans-serif

.w960
  :width 960px
  :margin 0 auto
  :clear both

header
  :background url(../imgs/bg1.png) repeat-x bottom #c70036
  h1
    :background url(../imgs/logo2.png) no-repeat
    :font normal 25pt "Leckerli One"
    :height 90px
    :overflow hidden
    a
      :padding 20px 60px
      :display block
      :text-decoration none
      :color #fff
