*
  :margin 0
  :padding 0
  :list-style none

body
  :font normal 10pt sans-serif

.w960
  :width 960px
  :margin 0 auto
  :clear both

header
  h1
    :background url(../imgs/logo.png) no-repeat
    :width 50px
    :height 61px
    :margin 40px 0
    :overflow hidden
    a
      :display block
      :padding-top 60px
