{% extends 'simple/layout.html' %}

{% block extra_head %}
{{ registry.css('help') }}
{% endblock %}

{% block content %}
<h2 class="title">About this site</h2>

<p>
The main purpose of this website is to allow people to thank package
maintainers and developers for making <a href="http://debian.org">Debian</a>
possible. It was inspired by the <strong>
<a href="http://thank.debian.net/2010/">"Debian Appreciation Day"</a></strong>
created in 2010 by <a href="http://marga.com.ar/blog/">Margarita Manterola</a>,
<a href="http://qa.debian.org/developer.php?login=maxy@debian.org">Maximiliano
Curia</a>, <a href="http://valessiobrito.info">Valessio Brito</a> and
<a href="http://my.opera.com/atomo64/blog/">Raphael Geissert</a>.
</p>

<p>
This version was written by <a href="http://comum.org">Lincoln de
Sousa</a> e <a href="http://metaldot.alucinados.com">Marcelo Jorge
Vieira</a> and has some novelties such as users' location and images
sharing.  Besides bringing knowledge about how Debian users are spread
around the world it will also feed a repository of free images that can
be used for promoting Debian in the future.
</p>

<p>
The source code is available
at <strong><a href="http://git.comum.org/dad.git">
http://git.comum.org/dad.git</a></strong>.
</p>

{% endblock content %}
