{% extends 'simple/layout.html' %}

{% block extra_head %}
{{ registry.css('gallery') }}
{% endblock %}

{% block body_class %}gallery{% endblock %}

{% block javascripts %}
{{ registry.js('gallery') }}
<script>setupSlideshow();</script>
{% endblock %}

{% block content %}
<h2 class="title">Gallery</h2>

<script type="text/html" id="galleryItemTmpl">
  <li>
    <a class="group" href="<%= obj.image_url %>">
      <img
         alt="Pic taken by <%= obj.sender_name %>"
         src="<%= obj.thumb2_url %>"
         width="120" height="90">
    </a>
    <div class="sender">
      by
      <% if (obj.sender_website) { %><a href="<%= obj.formatted_website %>"><% } %>
      <%= obj.sender_name %>
      <% if (obj.sender_website) { %></a><% } %>
    </div>
    <% if (obj.geolocation) { %>
    <div class="map">
      <img
         alt="Map pin" width="10" height="14"
         src="{{ registry.static_url('imgs/ico-map.png') }}">
    </div>
    <% } %>
  </li>
</script>

<ul id="nav">
  <li class="prev">
    {% if slideshow.previous %}
    <a href="{{ url_for('gallery') }}?p={{ slideshow.previous }}">
      Previous page
    </a>
    {% endif %}
  </li>
  <li class="current">
    {% if slideshow.previous or slideshow.next %}
    <em>#{{ slideshow.current }}/{{ slideshow.pagecount }}</em>
    {% endif %}
  </li>
  <li class="next">
    {% if slideshow.next %}
    <a href="{{ url_for('gallery') }}?p={{ slideshow.next }}">
      Next page
    </a>
    {% endif %}
  </li>
</ul>

<ul id="slideshow">
  {% for msg in slideshow.collection %}
  <li>
    <a class="group" href="{{ url_for('image', iid=msg.id, size='800x600') }}">
      <img
         alt="Pic taken by {{ msg.sender_name }}"
         src="{{ url_for('image', iid=msg.id, size='120x90') }}"
         width="120" height="90">
    </a>
    <div class="sender">
      by
      {% if msg.sender_website %}<a href="{{ msg.formatted_website }}">{% endif %}
      {{ msg.sender_name }}
      {% if msg.sender_website %}</a>{% endif %}
    </div>
    {% if msg.geolocation %}
    <div class="map">
      <img
         alt="Map pin"
         src="{{ registry.static_url('imgs/ico-map.png') }}"
         width="10" height="14">
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock content %}
