{% extends 'simple/layout.html' %}

{% block extra_head %}
{{ registry.css('index') }}
{% endblock %}

{% block javascripts %}
<script>var STATIC_URL = "{{ registry.base_static_url() }}"</script>
{{ registry.js('index') }}
{% endblock %}

{% block content %}
<script type="text/html" id="streamItemTmpl">
  <% console.debug(obj); %>
  <li <% if (obj.has_image) { %>class="haveImage"<% } %>>
    <% if (obj.sender_website) { %><a href="<%= obj.formatted_website %>"><% } %>
      <img
         width="32" height="32"
         src="<%= obj.sender_avatar %>"
         alt="<%= obj.formatted_username %>"
         class="avatar">
      <% if (obj.sender_website) { %></a><% } %>
    <ul>
      <% if (obj.has_image) { %>
      <li class="img">
        <img
           width="80" height="60"
           alt="Pic taken by <%= obj.sender_name %>"
           class="rimg" src="<%= obj.thumb_url %>">
      </li>
      <% } %>
      <li class="name">
        <% if (obj.sender_website) { %><a href="<%= obj.formatted_website %>"><% } %>
          <%= obj.formatted_username %>
          <% if (obj.sender_website) { %></a><% } %>
      </li>
      <li class="msg"><%= obj.formatted_content %></li>
    </ul>
  </li>
</script>

<script type="text/html" id="galleryItemTmpl">
  <li>
    <a class="group" href="<%= obj.image_url %>">
      <img
         width="120" height="90"
         alt="Pic taken by <%= obj.sender_name %>"
         src="<%= obj.thumb2_url %>">
    </a>
  </li>
</script>

<form
   id="thanks" method="post" action="{{ url_for('message') }}"
   enctype="multipart/form-data">
  <input type="hidden" id="latitude" name="latitude" value="">
  <input type="hidden" id="longitude" name="longitude" value="">

  <h3 class="first">Your Message</h3>

  <div class="errMsg">
    Sorry, there was an error while processing your message: <pre></pre>
  </div>

  <div class="successMsg">
    Thank you very much for your feedback!
  </div>

  <fieldset>
    <img width="32" height="32" id="gravatar"
         src="http://www.gravatar.com/avatar/?s=48&amp;d=mm"
         alt="Your Avatar" title="Your Avatar">
    <ol>
      <li>
        <label for="name">Name (required)</label>
        <input type="text" id="name" name="name" placeholder="Name (Required)"></li>
      <li>
        <label for="email">Email</label>
        <input
           type="text" id="email" name="email"
           placeholder="Email (gravatar enabled)">
        <label for="url">Website</label>
        <input type="text" id="url" name="url" placeholder="Website"></li>
      <li>
        <label for="message">Message</label>
        <textarea
           id="message" name="message"
           placeholder="Your message"></textarea>
        <p class="helpText">
          If you want to thank specific a package maintainer, type the
          package name prefixed by a colon, like this
          <strong>:freecraft</strong>.
        </p>

        <p class="helpText">
          Feel free to include anecdotes or usecases that make you like
          Debian. Don't forget to read the <a href="{{ url_for('tou') }}">
          Terms Of Use</a> :)
        </p>
      </li>
      <li>
        <label for="image" class="image">
          Share an image of a party of a nice moment between you and
          Debian (Avatar is allowed, but try to find some thing deeper):
        </label>
        <input type="file" id="image" name="image">
      </li>
      <li>
        <button class="awesome">Send your message »</button>
      </li>
    </ol>
  </fieldset>
</form>

<div class="stream">

  <h2>Messages</h2>
  <ul id="stream">
    {% for msg in Message.objects[:5].order_by('-date') %}
    <li {% if msg.has_image %}class="haveImage"{% endif %}>
      {% if msg.sender_website %}<a href="{{ msg.formatted_website }}">{% endif %}
        <img
           width="32" height="32"
           src="{{ msg.sender_avatar }}"
           alt="{{ msg.formatted_username }}"
           class="avatar">
        {% if msg.sender_website %}</a>{% endif %}
      <ul>
        {% if msg.has_image %}
        <li class="img">
          <img
             width="80" height="60"
             alt="Pic taken by {{ msg.sender_name }}"
             class="rimg" src="{{ url_for('image', iid=msg.id, size='80x60') }}">
        </li>
        {% endif %}
        <li class="name">
          {% if msg.sender_website %}<a href="{{ msg.formatted_website }}">{% endif %}
            {{ msg.formatted_username }}
            {% if msg.sender_website %}</a>{% endif %}
        </li>
        <li class="msg">{{ msg.formatted_content }}</li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<br class="split">

<div id="slideshow">
  <ul>
    {% for msg in Message.slideshow[:10] %}
    <li>
      <a class="group" href="{{ url_for('nfimage', iid=msg.id, size='800x600') }}">
        <img
           width="140" height="110"
           alt="Pic taken by {{ msg.sender_name }}"
           src="{{ url_for('image', iid=msg.id, size='140x110') }}">
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="see-all">
    <a href="#">See all images</a>
  </div>
</div>

{% if not conf.MESSAGES_BLOCKED %}
<div id="map"></div>
{% else %}

<div id="awesome">
  <h3>Awesome</h3>

  <p>
    We are proud to see that so many people around the globe loves Debian
    as much as we do. More than two thousand thank messages, one hundred
    awesome pictures and a lot (more than 50k unique visits since 16th
    Ago) people accessing it.
  </p>

  <p>
    Unfortunately, we have closed the thank form now, but stay tuned in
    the other Debian comunication channels, it will be a pleasure to talk
    with you :)
  </p>

  <p>
    Follow <a href="http://identi.ca/debian">@debian</a>
    and <a href="http://identi.ca/debianart">@debianart</a> at
    <a href="http://identi.ca">identi.ca</a>
  </p>
</div>

{% endif %}

<ul id="sidebar">
  <li class="tweets">
    <h3>#thxdebian on identi.ca</h3>
	<div id="identica_search"></div>
  </li>
</ul>

{% endblock %}
