{% extends 'simple/layout.html' %}

{% block extra_head %}
{{ registry.css('index') }}
{% endblock %}

{% block javascripts %}
<script>var STATIC_URL = "{{ registry.base_static_url() }}"</script>
{{ registry.js('index') }}
{% endblock %}

{% block content %}
<div id="map"></div>

<script type="text/html" id="streamItemTmpl">
  <% console.debug(obj); %>
  <li <% if (obj.has_image) { %>class="haveImage"<% } %>>
    <% if (obj.sender_website) { %><a href="<%= obj.formatted_website %>"><% } %>
      <img
         width="32" height="32"
         src="<%= obj.sender_avatar %>"
         alt="<%= obj.formatted_username %>"
         class="avatar">
      <% if (obj.sender_website) { %></a><% } %>
    <ul>
      <% if (obj.has_image) { %>
      <li class="img">
        <img
           width="80" height="60"
           alt="Pic taken by <%= obj.sender_name %>"
           class="rimg" src="<%= obj.thumb_url %>">
      </li>
      <% } %>
      <li class="name">
        <% if (obj.sender_website) { %><a href="<%= obj.formatted_website %>"><% } %>
          <%= obj.formatted_username %>
          <% if (obj.sender_website) { %></a><% } %>
      </li>
      <li class="msg"><%= obj.formatted_content %></li>
    </ul>
  </li>
</script>

<ul id="stream">
  {% for msg in Message.objects[:3].order_by('-date') %}
  <li {% if msg.has_image %}class="haveImage"{% endif %}>
    {% if msg.sender_website %}<a href="{{ msg.formatted_website }}">{% endif %}
      <img
         width="32" height="32"
         src="{{ msg.sender_avatar }}"
         alt="{{ msg.formatted_username }}"
         class="avatar">
      {% if msg.sender_website %}</a>{% endif %}
    <ul>
      {% if msg.has_image %}
      <li class="img">
        <img
           width="80" height="60"
           alt="Pic taken by {{ msg.sender_name }}"
           class="rimg" src="{{ url_for('image', iid=msg.id, size='80x60') }}">
      </li>
      {% endif %}
      <li class="name">
        {% if msg.sender_website %}<a href="{{ msg.formatted_website }}">{% endif %}
          {{ msg.formatted_username }}
          {% if msg.sender_website %}</a>{% endif %}
      </li>
      <li class="msg">{{ msg.formatted_content }}</li>
    </ul>
  </li>
  {% endfor %}
</ul>

<script type="text/html" id="galleryItemTmpl">
  <li>
    <a class="group" href="<%= obj.image_url %>">
      <img
         width="120" height="90"
         alt="Pic taken by <%= obj.sender_name %>"
         src="<%= obj.thumb2_url %>">
    </a>
  </li>
</script>

<div class="w960">
  <ul id="slideshow">
    {% for msg in Message.slideshow[:8] %}
    <li>
      <a class="group" href="{{ url_for('image', iid=msg.id, size='800x600') }}">
        <img
           width="120" height="90"
           alt="Pic taken by {{ msg.sender_name }}"
           src="{{ url_for('image', iid=msg.id, size='120x90') }}">
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<form id="thanks" method="post" action="{{ url_for('message') }}">
  <input type="hidden" id="latitude" name="latitude" value="">
  <input type="hidden" id="longitude" name="longitude" value="">
  <h3 class="first">Your Message</h3>
  <div class="errMsg">
    Sorry, there was an error while processing your message: <pre></pre>
  </div>

  <div class="successMsg">
    Thank you very much for your feedback!
  </div>

  <fieldset>
    <p class="helpText">
      If you want to send a direct thank you for a package
      maintainer, just type the package name prefixed by a colon
      (:) symbol, like this <strong>:freecraft</strong>. You can
      also thank a team by picking one in the select box bellow
      the message area.
    </p>

    <p class="helpText">
      Feel free to include anecdotes or usecases that make you
      like Debian.
    </p>
  </fieldset>

  <fieldset>
    <label for="message">Message</label>
    <textarea id="message" name="message"></textarea>
    <img width="32" height="32" id="gravatar"
         src="http://www.gravatar.com/avatar/?s=48&amp;d=mm"
         alt="Your Avatar" title="Your Avatar">
    <ol>
      <li>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email"></li>
      <li>
        <label for="name">Name (required)</label>
        <input type="text" id="name" name="name" placeholder="Name (Required)"></li>
      <li>
        <label for="url">Website</label>
        <input type="text" id="url" name="url" placeholder="Website"></li>
      <li>
        <label for="avatar">Avatar url</label>
        <input type="text" id="avatar" name="avatar" placeholder="URL of an avatar image"></li>
    </ol>
  </fieldset>

  <h3>Share a picture of your party with other Debian lovers</h3>
  <fieldset>
    <input type="text" id="image" name="image" placeholder="Image URL">
    <p class="helpText">
      Please, fill with a direct link to an image, not to an
      HTML page :)
    </p>
  </fieldset>

  <button class="awesome">Send your message »</button>
</form>

<ul id="sidebar">
  <li class="tweets">
    <h3>#thxdebian on identi.ca</h3>
	<div id="identica_search"></div>
  </li>
</ul>

{% endblock %}
