<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block extra_head %}{% endblock %}
    <title>Thank you Debian</title>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <header>
      <div class="w960">
        <ul class="menu">
          <li><a href="{{ url_for('index') }}#thanks">Send a message</a></li>
          <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
          <li><a href="{{ url_for('messages') }}">All messages</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('help') }}">How to help Debian</a></li>
        </ul>
        <h1><a href="{{ url_for('index') }}">happy birthday Debian!</a></h1>
      </div>
    </header>

    <div class="content-wrapper w960">
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <br class="clear">
    <footer>
      <div class="w960">
        <div class="column1">
          <h3>Content</h3>
          <ul class="menu">
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('messages') }}">All messages</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('help') }}">How to help Debian</a></li>
            <li><a href="{{ url_for('index') }}#thanks">Send a message</a></li>
            <li><a href="{{ url_for('tou') }}">Terms Of Use</a></li>
          </ul>
        </div>

        <div class="column2 source">
          <h3>Source code</h3>
          <p>
            This website is
            <a href="http://www.gnu.org/philosophy/philosophy.html">free
            (as in freedom)</a> and you can get its source code by
            issuing the following command in your computer:
          </p>
          <pre>$ git clone http://git.comum.org/dad.git</pre>
          <p>
            Or you
            can <a href="http://git.comum.org/web/dad.git">browse</a>
            our repo online
          </p>
        </div>

        <div class="column2 content">
          <h3>Content license</h3>
          <p>
          All images published here are available are available under
          the <a href="http://creativecommons.org/licenses/by/3.0/">
          Creative Commons Attribution 3.0 license.</a>
          <a href="http://creativecommons.org/licenses/by/3.0/">
            <img src="http://i.creativecommons.org/l/by/3.0/80x15.png"
                 width="80" height="15" alt="Creative Commons BY 3.0">
          </a>
          Please read more about licensing in the
          <a href="{{ url_for('tou') }}">Terms of Use</a> document.
          </p>
        </div>

        <br class="clear">
      </div>
    </footer>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
