{% extends 'simple/layout.html' %}

{% block extra_head %}
{{ registry.css('messages') }}
{% endblock %}

{% block javascripts %}
{{ registry.js('gallery') }}
<script>initFancyBox();</script>
{% endblock %}

{% block content %}

<div id="stream">
  <h2 class="title">Messages</h2>

<ul id="messages">
  {% for msg in slideshow.collection %}
    <li>
      <a name="{{ msg.id }}"></a>
      {% if msg.sender_website %}<a target="_blank" href="{{ msg.formatted_website }}">{% endif %}
        <img
           width="32" height="32"
           src="{{ msg.sender_avatar }}"
           alt="{{ msg.formatted_username }}"
           class="avatar">
        {% if msg.sender_website %}</a>{% endif %}
      <div class="to">this thanks goes to <strong>Debian Community</strong></div>
      <div class="sender">
        {% if msg.sender_website %}<a target="_blank" href="{{ msg.formatted_website }}">{% endif %}
          <strong>{{ msg.sender_name }}</strong>
          {% if msg.sender_website %}</a>{% endif %}
      </div>
      <div class="msg">{{ msg.formatted_content }}</div>

      {% if msg.has_image %}
      <a class="group" href="{{ url_for('nfimage', iid=msg.id, size='800x600') }}">
        <img
           width="120" height="90"
           alt="Pic taken by {{ msg.sender_name }}"
           src="{{ url_for('image', iid=msg.id, size='120x90') }}">
      </a>
      {% endif %}

      {% if msg.packages %}
      <div class="pkgs">
        <strong>Developers cited:</strong>
        <ul>
          {% for pkg in msg.packages %}
          <li>» {{ pkg }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if msg.geolocation %}
      <div class="map">
        <img
           width="10" height="14"
           alt="Map pin"
           src="{{ registry.static_url('imgs/ico-map.png') }}">
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <ul id="nav">
    <li class="prev">
      {% if slideshow.previous %}
      <a href="{{ url_for('messages') }}?p={{ slideshow.previous }}">
        Previous page
      </a>
      {% endif %}
    </li>
    <li class="current">
      {% if slideshow.previous or slideshow.next %}
      <em>#{{ slideshow.current }}/{{ slideshow.pagecount }}</em>
      {% endif %}
    </li>
    <li class="next">
      {% if slideshow.next %}
      <a href="{{ url_for('messages') }}?p={{ slideshow.next }}">
        Next page
      </a>
      {% endif %}
    </li>
  </ul>
</div>

<div id="stats">
  <h2 class="title">Stats til now</h2>
  <ul>
    <li>
      <label>Messages</label>
      <div>{{ Message.objects.count() }}</div>
    </li>
    <li>
      <label>Pictures</label>
      <div>{{ Message.slideshow.count() }}</div>
    </li>
  </ul>
</div>

{% endblock content %}
