{% extends 'simple/layout.html' %}

{% block extra_head %}
{{ registry.css('help') }}
{% endblock %}

{% block content %}
<h2 class="title">Terms Of Use</h2>

<h3>1.0 Use of this site</h3>

<p> 1.1 Your participation in the "Thank-You.Debian.net" denote that you
  have accepted these terms. All content shared on this site is
  available under the terms of license CreativeCommons - Attribution
  (CC-by), guaranteed assignment to the original author.
</p>

<p>
  1.2 To submit content to the website is mandatory that the user is
  the legitimate owner of rights to that content being solely and
  entirely responsible for sending, posting and availability of content
  in any capacity and in any case. Any third party claims will be the
  responsibility of the user, who must take any and all legal and
  procedural responsibilities in relation to the complaint.
</p>

<h3>2.0 Content</h3>
<p>
  2.1 Any content (with text, image, etc.)  that is considered aggressive
  or discriminatory to any person or group will be immediately removed
  from the site.
</p>

<h3>3.0 Licensing</h3>
<p>
  3.1 To ensure free access to its content and in the collaborative
  spirit of the project itself, the entire contents of the website is
  licensed under a <a href="http://creativecommons.org">Creative
  Commons</a> license. The Creative Commons allows you to preserve their
  copyright in their works, whether of any kind (text, movies, photos,
  music, animations, etc.). It also allows you to authorize some uses of
  their work to society. The license official "Thank-You.Debian.net" is
  called Attribution 3.0 (CC BY 3.0) Alike that can be easily understood
  by visiting the following page:
  <a href="http://creativecommons.org/licenses/by/3.0/">
  http://creativecommons.org/licenses/by/3.0/</a>
</p>

<h3>4.0 Infringement of the above rules</h3>
<p>
  4.1 The user is aware that the "Debian Thank You" denounce any and
  all disputes, claims and disputes in which it is involved because of
  content and conduct perpetrated or submitted by users or third parties
  as permitted by law, so no more be part of the suit, litigation or
  dispute.
</p>

<p>
  4.2 The "Thank-You.Debian.net" also provides the right to call the
  process any user on account of any actions arising out of your conduct
  and content submitted.
</p>

<p>
  4.3 Permits are also entitled to directly blame the perpetrator of the
  abusive conduct user, using it for all the funds legally available,
  including right of return, among others. Thus, the "Debian Thank You"
  will make use of registration data and any other technical data to
  identify the user, it being aware of it affected you or others who can
  not claim any infringement of privacy in these cases .
</p>

<p>
  4.4 The "Thank-You.Debian.net" also reserves the right to cancel the
  registration at any time to any user, in its sole discretion, without
  notice.
</p>

{% endblock content %}
