{% extends 'simple/layout.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='js/fancybox/jquery.fancybox.css') }}">
{% endblock %}
{% block body_class %}gallery{% endblock %}

{% block javascripts %}
<script type="text/javascript"
        src="{{ url_for('static', filename='js/mousewheel/jquery.mousewheel.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/easing/jquery.easing.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/fancybox/jquery.fancybox.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {

    var title_format = function(title, currentArray, currentIndex, currentOpts){
        return '<span id="fancybox-title-over">Image ' +  (currentIndex + 1) +
               ' / ' + currentArray.length + ' ' + title + '</span>';
    }

    $("a[rel=group]").fancybox({
        'transitionIn'  : 'none',
        'transitionOut' : 'none',
        'titlePosition' : 'over',
        'titleFormat'   : title_format,
        'type' : 'image'
    });

});
</script>
{% endblock %}


{% block content %}
<h2 class="title">Gallery</h2>

<ul id="slideshow">
  {% for msg in Message.slideshow[:8] %}
  <li>
    <a rel="group" href="{{ url_for('image', iid=msg.id, size='800x600') }}">
      <img
         alt="Pic taken by {{ msg.sender_name }}"
         src="{{ url_for('image', iid=msg.id, size='120x90') }}">
    </a>
    <div class="sender">
      by
      {% if msg.sender_website %}<a href="{{ msg.sender_website }}">{% endif %}
      {{ msg.sender_name }}
      {% if msg.sender_website %}</a>{% endif %}
    </div>
    {% if msg.geolocation %}
    <div class="map">
      <img
         alt="Map pin"
         src="{{ url_for('static', filename='imgs/ico-map.png') }}">
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock content %}
