<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Thank you Debian</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1>Thank you Debian!</h1>
      </header>
      <div id="content">
        <img src="{{ url_for('static', filename='imgs/map.png') }}">
        <div id="column1"><h2>Post your picture</h2></div>
        <div id="column2"><h2>Debian days around the globe</h2></div>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
