{% extends 'simple/layout.html' %}

{% block content %}
<div id="map">
  <img alt="Map" src="{{ url_for('static', filename='imgs/map.png') }}">
</div>

<ul id="stream">
  {% for msg in Message.objects[:3].order_by('-date') %}
  <li {% if msg.has_image %}class="haveImage"{% endif %}>
    {% if msg.sender_website %}<a href="{{ msg.sender_website }}">{% endif %}
      <img
         src="{{ msg.sender_avatar }}"
         alt="{{ msg.formatted_username }}"
         class="avatar">
      {% if msg.sender_website %}</a>{% endif %}
    <ul>
      {% if msg.has_image %}
      <li class="img">
        <img
           alt="Pic taken by {{ msg.sender_name }}"
           class="rimg" src="{{ url_for('image', iid=msg.id, size='80x80') }}">
      </li>
      {% endif %}
      <li class="name">
        {% if msg.sender_website %}<a href="{{ msg.sender_website }}">{% endif %}
          {{ msg.formatted_username }}
          {% if msg.sender_website %}</a>{% endif %}
      </li>
      <li class="msg">{{ msg.formatted_content }}</li>
    </ul>
  </li>
  {% endfor %}
</ul>

<div id="slideshow" class="w960">
  <ul>
    {% for msg in Message.slideshow[:8] %}
    <li>
      <a href="{{ url_for('image', iid=msg.id, size='800x600') }}">
        <img
           alt="Pic taken by {{ msg.sender_name }}"
           src="{{ url_for('image', iid=msg.id, size='120x90') }}">
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<form id="thanks" method="post" action="{{ url_for('message') }}">
  <h3>Your Message</h3>
  <div class="errMsg">
    Sorry, there was an error while processing your message:
    <pre>String value is too short</pre>
  </div>

  <div class="successMsg">
    Thank you very much for your feedback!
  </div>

  <fieldset>
    <p class="helpText">
      If you want to send a direct thank you for a package
      maintainer, just type the package name prefixed by a colon
      (:) symbol, like this <strong>:freecraft</strong>. You can
      also thank a team by picking one in the select box bellow
      the message area.
    </p>

    <p class="helpText">
      Feel free to include anecdotes or usecases that make you
      like Debian.
    </p>
  </fieldset>

  <fieldset>
    <label for="message">Message</label>
    <textarea id="message" name="message"></textarea>

    <div id="thankTarget">
      <label for="team">Choose a team</label>
      <p class="helpText">Thank a specific team</p>
      <select id="team" name="team">
        <option>Debian Community</option>
      </select>
    </div>

    <img id="gravatar" src="http://www.gravatar.com/avatar/?s=48&amp;d=mm"
         alt="Your Avatar" title="Your Avatar">
    <ol>
      <li>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email"></li>
      <li>
        <label for="name">Name (required)</label>
        <input type="text" id="name" name="name" placeholder="Name (Required)"></li>
      <li>
        <label for="url">Website</label>
        <input type="text" id="url" name="url" placeholder="Website"></li>
      <li>
        <label for="avatar">Avatar url</label>
        <input type="text" id="avatar" name="avatar" placeholder="URL of an avatar image"></li>
    </ol>
  </fieldset>

  <h3>Share a picture of your party with other Debian lovers</h3>
  <fieldset>
    <input type="text" id="image" name="image" placeholder="Image URL">
    <p class="helpText">
      Please, fill with a direct link to an image, not to an
      HTML page :)
    </p>
  </fieldset>

  <button class="awesome">Send your message »</button>
</form>

<ul id="sidebar">
  <li>
    <h3>#thxdebian on identi.ca</h3>
    <ul>
      <li>
        <a href="#">@someone</a> Cras feugiat egestas
        blandit. Proin gravida, eros id tempor fermentum, est
        justo commodo turpis, in accumsan erat erat nec
        magna <a href="#">#thxdebian</a>
      </li>

      <li>
        <a href="#">@anotherone</a> Aenean odio neque, lacinia
        rhoncus venenatis quis, tincidunt a velit. Proin et
        felis vitae velit lacinia <a href="#">#thxdebian</a>
        egestas et in nunc.
      </li>

      <li>
        <a href="#">@lincoln</a> <a href="#">#thxdebian</a>
        Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia Curae
      </li>
    </ul>
  </li>

  <li class="gallery">
    <h3>Debian lovers</h3>
    <ul>
      <li>
        <img
           alt="Picture taken by a debian lover"
           class="rimg" src="http://www.gravatar.com/avatar/?s=120&amp;d=mm">
        <ul>
          <li><strong>Lincoln de Sousa</strong></li>
          <li class="from">From <a href="#">Brazil</a></li>
          <li class="msg">
            This is a small part of the whole message sent by
            lincoln to the Thank you Debian! site
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

{% endblock %}
