<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/awesome.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/openlayers/OpenLayers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
    {% block extra_head %}{% endblock %}
    <title>Thank you Debian</title>
  </head>
  <body class="{% block body_class %}{% endblock %}" onLoad="map_init()">
    <header>
      <div class="w960">
        <ul class="menu">
          <li><a href="#">All messages</a></li>
          <li><a href="#">More about DAD</a></li>
          <li><a href="#">How to help Debian</a></li>
        </ul>
        <h1><a href="{{ url_for('index') }}">Debian appreciation day!</a></h1>
      </div>
    </header>
    <div id="content" class="w960">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="w960">
        oi
      </div>
    </footer>
  </body>
</html>
