# -*- Mode: Python -*-
#
# Copyright (C) 2011  Lincoln de Sousa <lincoln@comum.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

import os

# MongoDB database name
DATABASE_NAME = 'dad'

# HTTP server settings
HOST = '0.0.0.0'
PORT = 5000
DEBUG = True

# Application specific settings
GALLERY_MAX_PERPAGE = 12

# Development/Production configuration: possible values are for this var
# are: 'development' or 'production'.
ENV = 'development'

# Must point to the file that describes resources used by this app.
RESOURCES_FILE = os.path.join(
    os.path.dirname(__file__), '..', 'resources.json')

# If set to None, the `/static' path will be used instead. Use string
# format to fill this var, just like it example:
#
#  STATIC_URL = 'http://cdn.myexample.com/%s'
#
# The _only_ field will be filled by our resource registry properly.
STATIC_URL = None
